@font-face {
   font-family: 'HelveticaNowDisplay-Regular';
   font-display: swap;
   src: url('file:///Users/tomasbcunha/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-09-15_160147/fonts/HelveticaNowDisplay-Regular/font.ttf');
}
